NEW MESSAGE!!11!1!

<div class="createBar">
<input type="text" name="message" placeholder="Blog Message" value="" class="createPostInput js-message">
<input type="submit" value="submit">
<a href="/"><input type="button" value="logout" class="logout"></a>
</div>
